### note ###
note.txt

### Django ###
*.log
*.pot
*.pyc
*~
__pycache__/
myvenv
local_settings.py
db.sqlite3
media
/static
.DS_Store

### PyCharm ###
*.xml
!/codeStyleSettings.xml
!/copyright/*.xml
!/fileColors.xml
!/encodings.xml
!/gradle.xml
!/runConfigurations/*.xml

!/inspectionProfiles/*.xml
/inspectionProfiles/profiles_settings.xml

!/scopes/*.xml
/scopes/scope_settings.xml

!/templateLanguages.xml
!/vcs.xml